{% extends "AppCoder/master.html" %}

{% load static %}

{% block contenidoSecciones %}
<header style="height: 100px;  background-color: rgb(218, 0, 36); padding-top: 60px; height: 200px; ">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <!-- Page heading-->
                    <h3 class="mb-1">CONTADOR DE VISITAS!, página</h3>

                    <h5 class="mb-2">muestro el contenenido de los cursos</h5>

                    
                   
                </div>
            </div>
        </div>
    </div>
</header>

<footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <center>
                <ul class="list-inline mb-1">
                    <li class="list-inline-item" style="margin-right: 20px;"><h5>Inicio: </h3>  </li>
                    <li class="list-inline-item" style="margin-right: 20px;"><h5>Profesores: </h5> </li>
                    <li class="list-inline-item" style="margin-right: 20px;"><h5>Estudiantes: </h5> </li>
                    <li class="list-inline-item" style="margin-right: 20px;"><h5>Entregables: </h5> </li>
                    <li class="list-inline-item" style="margin-right: 20px;"><h5>Cursos: </h5> </li>
              
                </ul>
            </center>
        </div>
    </div>
</footer>

{% endblock %}