{% extends "AppCoder/master.html" %}

{% load static %}

{% block contenidoSecciones %}
<header style="height: 100px;  background-color: #333; padding-top: 60px; height: 200px; ">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <!-- Page heading-->
                    <h3 class="mb-1">Estudiantes, página</h3>

                    <h5 class="mb-2">muestro el contenenito, ya llegaremos a eso</h5>

                    
                   
                </div>
            </div>
        </div>
    </div>
</header>

<footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <p>
                <center>Aca tendría que poder llamar a los registros de lqa bd Estudiantes. pendiente!</center>

            </p>

        </div>
    </div>
</footer>


{% endblock %}