{% extends "AppCoder/master.html" %}

{% load static %}

{% block contenidoSecciones %}
<header style="height: 100px;  background-color: rgb(126, 129, 126); padding-top: 60px; height: 200px; ">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <!-- Page heading-->
                    <h3 class="mb-1">USUARIOS</h3>

                    <h5 class="mb-2">muestro el contenenido, ya llegaremos a eso</h5>
                    

                    
                   
                </div>
            </div>
        </div>
    </div>
</header>

<div class="row">
    <div class="col">
        <form action="/AppCoder/buscar/" method="get">
            <input class="form-control form-control-lg" id="variable" name="variable" type="text" placeholder="Busca un usuario" data-sb-validations="required,email" />
            <input class="form-control form-control-lg" type="submit" value="Buscar" />
        </form>
    </div>
    <div class="col-auto"><button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">Buscar</button></div>
</div> 

<footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <p>
                <center>Aca tendría que poder llamar a los registros de lqa bd Profesores. pendiente!
<br><br>
                    <a class="navbar-brand" href="usuarioFormulario">Registrar otro usuario </a>


                </center>

            </p>

        </div>
    </div>
</footer>


{% endblock %}